/* Color scheme:
#f3e33ca - "welcome white"
#6d7645 - "garden spot"
#d54f43 - "gladiola"
#abd17a - "ryegrass"
#4f3426 - "french roast" */
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
    font-family: 'Thoma', sans-serif;
    font-size: 1.1rem;
}

#music_player {
    z-index: 10;
}

#header {
    width: 100%;

    margin-top: -90px;
    margin-left: -5px;
    background-image: url(/assets/snowfall.gif);
    background-repeat: no-repeat;
    background-position: 10% 20%;
}

#headerImage {
    max-width: 100%;

}

#mainArea {
    margin-top: -300px;
}

#famPic {
    margin-top: -400px;
    max-width: 300px;
}

h1 {
    background-color: white;
}
#memoryMessage {
    text-align: center;
}

#memoryDiv {
    display: flex;
  align-items: center;
  justify-content: center;
    margin-top: -500px;
    height: 500px;
}

button {
    background-color: #d54f43;
    color: #f3e33c;
    width: 200px;
    height: 90px;
    font-size: 1.1rem;
    font-family: 'Thoma', sans-serif;
    position: 10% 50%;
    border: none;
    margin-left: 110px;
}

