/* Color scheme:
#f3e33ca - "welcome white"
#6d7645 - "garden spot"
#d54f43 - "gladiola"
#abd17a - "ryegrass"
#4f3426 - "french roast" */
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
    font-family: 'Thoma', sans-serif;
    font-size: 1.1rem;
}

.header {
    width: 100%;
    margin-left: -5px;
    background-image: url(/assets/snowfall.gif);
    background-repeat: no-repeat;
    background-position: 10% 20%;
}

.headerImage {
    max-height: 100%;
}

.famPic {
    max-width: 300px;
}

main {
    align-items: center;
}

.memoryDiv {
    margin-top: -500px;
    background-color: white;
    height: 500px;
}

/*
.music_player {
    align-items: center;
} */